.breadcrumbsFrame {
    margin-bottom: 20px;
    .itemDisplayFrame & {
        // styles for product page only
        margin-left: 0;
        margin-bottom: 20px;
    }
    & .breadcrumbEntry {
        font-size: $font-size-sm;
    }
    & .breadcrumbLink {
        color: $text-muted;
    }
    & .breadcrumbDivider {
        color: $text-muted;
    }
}