#merchPageFrame {
	// extends bootstrap container classname
	@extend .container-xxl;
	margin-top: 1em;
}
/* rearranging catalog sections */
.catalogContent {
	display: flex;
	flex-direction: column;
}
.catalogContentFrame {
    font-size: $font-size-base * 1.1;
    margin: 1em 0;
}
.catalogFeaturedFrame {
	order: 3;
}

/* Page Header & Content 
-------------------------------------------*/
/* Content Header */
div[id^="merch-Header-"] { 
	display: flex;
	flex-direction: column-reverse;
}
h1.catalogPageTitle {
	font-size: $h1-font-size;
	line-height: $headings-line-height;
	margin-bottom: $headings-margin-bottom;
}

/* Display Grid
-------------------------------------------*/
.catalogListFrame,
.catalogFeaturedFrame,
.itemSuggestedFrame,
.catIconFrame {
	display: grid !important;
	grid-gap: 30px;
	grid-template-columns: 1fr;
	@include media-breakpoint-up(sm) {
		grid-template-columns: 1fr 1fr;
	}
	@include media-breakpoint-up(md) {
		grid-template-columns: repeat(4, 1fr);
	}
}


/* Featured Items 
-------------------------------------------*/
.featuredSubheading,
.itemSuggestedSubheading {
	grid-column: 1/-1;
	margin-bottom: -10px;
}
.listSubheading h2,
.itemSuggestedSubheading h2 {
	color: $body-color;
	display: block;
	font-size: $font-size-lg;
	font-weight: bold;
	padding-top: 20px;
}

/* Bestsellers & Sale Items
-------------------------------------------*/
.catalogSaleBest {
	display: none !important;
}

/* Catalog Icon List 
-------------------------------------------*/
.catIconFrame:before {
	content: "Browse By Category";
	color: $body-color;
	grid-column: 1/-1;
	font-family: $headings-font-family;
	font-size: $font-size-lg;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	margin-bottom: -10px;
}
.catIconLink {
	display: block;
	text-align: center;
	&:hover, &:focus {
		& .catIconLabel {
			background: darken($gold, 4%);
		}
	}
}
.catIconCell {
	border-radius: $border-radius;
	height: auto !important;
	margin: 0;
	padding: 10px;
	width: auto;
}
.catIconDisplay {
	top: 0;
	-webkit-transform: inherit;
	-ms-transform: inherit;
	transform: inherit;
}
.catIcon .catIconImage {
	max-height: 334px;
	max-width: 100%;
}
.catIconLabel {
	background: $gold;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: $border-radius;
	color: $black;
	margin-top: 5px;
	padding: 10px;
	transition: background .1s linear;
}


/* Product List
-------------------------------------------*/
.catalogItemFrame {
	margin: 0;
	width: auto;
}

/* images */
.catalogImageFrame {
	height: auto;
	margin-bottom: 10px;
}
.catalogItemImage {
	max-height: 334px;
	max-width: 100%;
}
.catalogItemTitleLink {
	line-height: $line-height-base;
}
.catalogListFrame .itemPriceMain, .featuredFrame .itemPriceMain {
	line-height: $line-height-base;
}


/* Suggested Items
-------------------------------------------*/
.itemSuggestedFrame {
	margin-left: 0;
}