.footer {
	background-color: $black;
	&_links a {
		display:block;
		color: $gray-500;
		font-size: $font-size-sm;
		padding: 4px 0;
		&:hover, &:focus {
			color: $gray-400;
		}
	}
}
.social {
	& li a {
		color: $white;
		height: 40px;
		width: 40px;
		background: $gray-900;
		display: block;
		border: 1px solid $gray-700;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		&:hover, &:focus {
			background: $gold;
			color: $black;
		}
	}
}

.copyright {
	border-top: 1px solid #333;
	font-size: 80%;
}