/* Navbar
-------------------------------------------*/
.navbar-nav {
	@include media-breakpoint-up(md) {
		width: 100%;
		justify-content: center;
		& .dropdown-menu {
			font-size: $font-size-sm;
		}
	}
}