
/* Colors
-------------------------------------------*/
$gold: #FFCD00;
$blue: #006ADB;

$white:    #fff;
$gray-100: #fafafa;
$gray-200: #efefef;
$gray-300: #e6e6e6;
$gray-400: #dadada;
$gray-500: #bdbdbd;
$gray-600: #7d7d7d;
$gray-700: #575757;
$gray-800: #404040;
$gray-900: #151515;
$black:    #000;

$primary:       $blue;
$secondary:     $gray-600;
$warning:       $gold;
$light:         $gray-100;
$dark:          $gray-900;

/* Spacing
-------------------------------------------*/
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 9),
  9: ($spacer * 12),
  10: ($spacer * 15),
  11: ($spacer * 20)
);

/* Sizing
-------------------------------------------*/
$sizes: ();
$sizes: map-merge(
  (
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

/* Typography
-------------------------------------------*/
$enable-responsive-font-sizes: true;
$font-family-base: 'Roboto', sans-serif;
$font-size-base: 1rem;
$headings-font-family: 'Zilla Slab', serif;
$headings-font-weight: 600;
$headings-margin-bottom: $spacer / 1;
$line-height-base: 1.6;
$text-muted: $gray-700;

/* Border
-------------------------------------------*/
$border-radius:     .2rem;
$border-radius-lg:  .3rem;
$border-radius-sm:  .1rem;

/* Navs
-------------------------------------------*/
$nav-link-padding-y: .3rem;

/* Navbar
-------------------------------------------*/
$navbar-nav-link-padding-x: .9rem;

$navbar-dark-color: rgba($white, .9);
$navbar-dark-hover-color: $white;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: $black;
$navbar-light-toggler-border-color: rgba($black, .7);


/* Grid
--------------------------------------------*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1300px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1300px
);















