
/* Colors
-------------------------------------------*/
$gold: #FFCD00;
$warning: $gold;

$white:    #fff;
$gray-100: #fafafa;
$gray-200: #efefef;
$gray-300: #e6e6e6;
$gray-400: #dadada;
$gray-500: #bdbdbd;
$gray-600: #7d7d7d;
$gray-700: #575757;
$gray-800: #404040;
$gray-900: #292929;
$black:    #000;

/* Typography
-------------------------------------------*/
$enable-responsive-font-sizes: true;
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Roboto Condensed', sans-serif;
$headings-font-weight: 700;


/* Spacing
-------------------------------------------*/
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 9),
  9: ($spacer * 12)
);

/* Navs
-------------------------------------------*/
$nav-link-padding-y: .3rem;


/* Navbar
-------------------------------------------*/
$navbar-nav-link-padding-x: .9rem;

$navbar-dark-color: rgba($white, .9);
$navbar-dark-hover-color: $white;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: $black;
$navbar-light-toggler-border-color: rgba($black, .7);


/* Grid
--------------------------------------------*/
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

/* Card
---------------------------------------------*/
$border-radius: .20rem;













