
/* Colors
-------------------------------------------*/
$black: #000;
$gold: #FFCD00;
$white: #fff;

/* Typography
-------------------------------------------*/
$enable-responsive-font-sizes: true;
$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Roboto', sans-serif;
$headings-font-weight: 700;


/* Spacing
-------------------------------------------*/
$spacer: 1rem;
$spacers: (
  6: ($spacer * 4.5),
  7: ($spacer * 6),
  8: ($spacer * 9),
  9: ($spacer * 12)
);

/* Navs
-------------------------------------------*/
$nav-link-padding-y: .3rem;


/* Navbar
-------------------------------------------*/
$navbar-nav-link-padding-x: .9rem;

$navbar-dark-color: rgba($white, .9);
$navbar-dark-hover-color: $white;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: $black;
$navbar-light-toggler-border-color: rgba($black, .7);


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);














